*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
}
nav {
    background-color: orange;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2em;
    font-family: "Arial", "Helvetica", sans-serif;
}
nav a {
    margin: .2em 1em 0px 1em;
    color: darkcyan;
}
nav a:hover {
    color: white;
}
.wrapper {
    background-color: #ffffff;
}
h1, h2, h3 {
    color: red;
}
h1 {
    text-transform: uppercase;
}
.img-hero {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    background-color: antiquewhite;
}
.flex-item {
    background-color: hotpink;
    width: 30%;
    margin: 1em;
    text-align: center;
}
.section-img {
    margin: 0 auto;
    width: 100%;
}
main {
    flex: 2;
    margin: 1em;
}
aside {
    flex: 1;
    margin: 1em;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
footer a {
    color: goldenrod;
}